<p style="color: green"><%= notice %></p>

<h1>Bookings History</h1>

<div id="bookings">
  <table class="table">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Release</th>
      <th scope="col">Actions</th>
    </tr>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.date %></td>
        <td><%= booking.employee.first_name %></td>
        <td><%= booking.employee.last_name %></td>
        <td><%= booking.release %></td>
        <td>
          <%= link_to "Show this booking", booking %>
        </td>
      </tr>
    <% end %>

</div>

<%= link_to "New booking", new_booking_path %>
