<%= link_to "Sign in with SLACK", "/auth/slack" %>

<% if @current_employee %>
<h1>Hi, <%= @current_employee.name%></h1>
<% end %>


<p style="color: green"><%= notice %></p>

<h1>Bookings History</h1>

<div id="bookings">
  <table class="table">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col">Release</th>
      <th scope="col">Actions</th>
    </tr>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.date %></td>
        <td><%= booking.employee.name %></td>
        <td><%= booking.release %></td>
        <td>
          <%= link_to "Show this booking", booking %>
        </td>
      </tr>
    <% end %>

</div>

<%= link_to "New booking", new_booking_path %>
